.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #4a4a4a;
}
.nav {
  display: flex;
  padding-right: 2rem;
}

a {
  padding: 1rem;
  color: white;
  text-decoration: none;
}
a.selected {
  color: dodgerblue;
}
